<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>管理</h1>
        
        <input type="button" value="ホームへ">
        
        <label>名前<input type="text"></label>
        <label>使用期限<input type="date"></label>
        <label>保管場所<input type="text"></label>
        <label>個数<input type="text"></label>
        
        <input type="submit" value="変更を保存">
        <input type="submit" value="削除">
    </div>
</body>
</html>