<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
        
        <input type="button" value="新規登録" onclick="window.location.href='/signup'">
        <input type="button" value="ログイン" onclick="window.location.href='/login'">
        <input type="button" value="登録" onclick="window.location.href='/register'">
        <input type="button" value="管理" onclick="window.location.href='/manage'">
        <input type="button" value="通知" onclick="window.location.href='/notice'">


    </div>
    
</body>
</html>
