<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
        
        <input type="button" onclick="location.href='http://127.0.0.1:5000/signup'"value="新規登録">
        <input type="button" onclick="location.href='http://127.0.0.1:5000/login'"value="ログイン">

        <input type="button" onclick="location.href='http://127.0.0.1:5000/register'" value="登録">
        <input type="button" onclick="location.href='http://127.0.0.1:5000/manage'" value="管理">
        <input type="button" onclick="location.href='http://127.0.0.1:5000/notice'" value="通知">

    </div>
    
</body>
</html>
