<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="container">
            <div class="text-center grid gap-0 row-gap-3">
                <div class="row p-2 g-col-6">
                    <div class="col">
                        <h1>（アプリ名）の使い方</h1>
                    </div>
                    <dic class="col">
                        <input type="button" onclick="location.href='/'" class="btn btn-light" value="ホームへ">
                    </div>
                </div>
            </div>
        </div>
        
        <p>（アプリ名）はローリングストックをする物の期限を管理するアプリです。</p>
        <p></p>
        <!--<p>期限が短いものなどは通知が来るタイミングを設定することも可能です。</p>-->

        <h2>アカウント管理</h2>
        <p>初めての方は新規登録、既にアカウントがある方はログインをして内容を保存できます。</p>

        <h2>ローリングストックをする物の登録</h2>
        <p>写真、名前、期限などを登録してわかりやすく管理することができます。</p>

        <h2>登録した物の管理</h2>
        <p>登録した物の一覧を見ることができます。</p>
        <p>(フィルターの説明)</p>
        <p>変更したい物を選択すると登録した内容の変更や削除ができます。</p>

        <h2>通知</h2>
        <p>期限1か月前の食品や防災用品点検の日の通知が表示されます。</p>

    </div>
</body>
</html>
