<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>登録</h1>
    
    <input type="button" onclick="location.href='http://127.0.0.1:5000'" value="ホームへ">
    <label>ファイルを選択<input type="file" accept="image/png, image/jpeg"></label>

    <label>名前<input type="text"></label>
    <label>使用期限<input type="date"></label>
    <label>保管場所<input type="text"></label>
    <label>個数<input type="text"></label>
    
    <input type="submit" value="登録">
</body>
</html>